body {
  background-color: #ffaa5e;
  background-image: linear-gradient(147deg, #ed4b4b 0%, #ffaa5e  74%);
  box-sizing: border-box;
  min-height: 100vh;

}
.addBtn{
  border: none;
  font-size: 1.5rem;
  background-color: #eb4d25;
  color: #000;
  font-family: "Gill Sans", sans-serif;
  border-radius: 15px;
  padding-right: 0.5rem;
}
.addBtn:hover{
  box-shadow: 0.5rem,0.7rem tomato;
  background-color: #fff;
  color: #000;
}
.ToDo-container {
  width: 70%;
  margin: 5rem auto;
  text-align: center;
  font-weight: bolder;
}
.itemDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(231, 242, 171, 0.7);
  color: #201f1f;
  border-radius: 3rem;
  margin: 0.5rem;
}
.list {
  text-transform: capitalize;
  margin: 1.5rem;
  font-size: 1.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-weight: lighter;
  line-height: 1.5rem;
  list-style-type: none;
  justify-content: space-between;
  
}
.check, .trash{
  font-size: 1.5rem;
  float: left;
  border: none;
  opacity: 1;
  background: transparent;
  justify-content: flex-end;
}
.check{
  order: 2;
  justify-content: flex-end;
}
.trash{
  order: 3;
  justify-self: flex-end; 
}
.deleted{
  transform: translateY(10rem) rotateZ(20deg);
  transition: ease-out 2s;

}
.footer{
  display: none;
  text-align: center;
  width: 100%;
  bottom: 0.7rem;
  position: absolute;
  line-height: 0.3rem;
}